{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<body>
    <h1>Welcome, {{one_user.first_name}} </h1>
    {% if not user_events %}
        <h3 class="pb-5">One you have created an event, you will see it here. <br>
            <a href="/create/event">Create one now</a></h3>
    {% else %}
    <div class="container col-12 p-4">
        <h5 class="page_title">Today is {{todays_date}} and your events are:</h5>
        <table class="table table-striped table-bordered" id="sortTable1">
            <colgroup>
                <col span="1" style="width:18%">
                <col span="1" style="width:40%">
                <col span="1" style="width:17%">
                <col span="1" style="width:10%">
                <col span="1" style="width:15%">
            </colgroup>
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Attendees</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for event in user_events %}
                <tr>
                    <td>{{event.title}}</td>
                    <td>{{event.location}}</td>
                    <td>{{event.date}}<br>{{event.time}}</td>
                    <td>{{event.number_of_attendees}}/{{event.max_attendees}}</td>
                    <td>
                        <a href="/cancel_event/{{event.id}}">Cancel Event</a><br>
                        <a href="/view_event/{{event.id}}">See Details</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
    {% endif %}
    {% if not future_events %}
        <h3 class="pb-5">You will see the events you are attending here. <br>
            <a href="/search">Search events organized by others</a></h3>
    {% else %}
    <div class="container col-12 p-4">
        <h5 class="page_title">Here are your joined future events:</h5>
        <table class="table table-striped table-bordered" id="sortTable2">
            <colgroup>
                <col span="1" style="width:18%">
                <col span="1" style="width:40%">
                <col span="1" style="width:17%">
                <col span="1" style="width:10%">
                <col span="1" style="width:15%">
            </colgroup>
            <thead>
                <th>Event</th>
                <th>Location</th>
                <th>Date</th>
                <th>Attendees</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for event in future_events %}
                <tr>
                    <td>{{event.title}}</td>
                    <td>{{event.location}}</td>
                    <td>{{event.date}} {{event.time}}</td>
                    <td>{{event.number_of_attendees}}/{{event.max_attendees}}</td>
                    <td><a href="/view_event/{{event.id}}">See Details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <script>
    $('#sortTable1').DataTable();
    $('#sortTable2').DataTable();
    </script>
</body>
{% endblock %}
