{% extends 'base_before_login.html' %}
{% block title %} Reset Password {% endblock %}
{% block content %}
    <form class="index_forms" action="/resetting_forgotten_password" method="POST" class="bg-primary-subtle border">
        {% csrf_token %}
        <h2 class="text-primary">Let's reset your password</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
                    {{message}}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="form_group my-2">
            <label for="password">New Password:</label>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="form_group my-2">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password" class="form-control">
        </div>
        <input type="hidden" value={{user_id}} name="user_id">
        <input class="btn btn-primary col-12 action_button bg-primary-subtle my-2" type="submit" value="Reset Password">
    </form>
{% endblock %}
