{% extends 'base_before_login.html' %}
{% block title %} Reset Password {% endblock %}
{% block content %}
    <form class="index_forms" action="/answer_secret_q" method="POST" class="bg-primary-subtle border">
        {% csrf_token %}
        <h2 class="text-primary">Let's reset your password</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
                    {{message}}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="form_group">
            <label for="secret_answer">Please answer your secret questions <br> <h4>{{secret_question}}</h4></label>
            <input type="text" name="secret_answer" class="form-control">
        </div>
        <input type="hidden" value={{user_id}} name="user_id">
        <input class="btn btn-primary col-12 action_button bg-primary-subtle my-2" type="submit" value="Continue">
    </form>
    <p>Not a user? <a href="/register">Register here</a></p>
{% endblock %}
